:root {
    --wght: 300;
    --slnt: 0;
    --mono: 0;
    --casl: 0;
}

*,
*:before {
    font-variation-settings:    "wght" var(--wght),
                                "slnt" var(--slnt),
                                "MONO" var(--mono),
                                "CASL" var(--casl);
    box-sizing: border-box;
}

body{
    font-family: 'Recursive', monospace;
    padding: 3em 5vw;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex
}
header > :last-child{
    margin-left: auto;
}

input {
    width: 3em;
    text-align: right;
    border: none;
    border-bottom: 1px solid;
    font-family: 'Recursive';
    --wght: 600;
    margin: 0 0.5em;
    display: inline-block;
}
button {
    background: black;
    color: white;
    font-family: 'Recursive';
    font-size: 1rem;
    border: none;
    padding: 0.4em 0.8em;
    margin-bottom: 2rem;
    transition: all 0.2s;
    --wght: 400;
}

button:hover {
    --slnt: -13;
}

button:active {
    background: yellow;
    color: black;
}



/* Gameboard grid */

#grid-wrapper{
    flex: 1;
    margin: -5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
}
#grid{
    flex: 1;
    display: grid;
}
#grid .cell{
    background-color: pink;
    border: 1px solid white;
}
#grid .cell.hover,
#grid .cell:hover{
    background-color: rgb(248, 161, 176);
}

#grid .cell:active{
    background-color: rgb(223, 98, 119);
}

#grid .cell.player-0{
    background-color: red;
}
#grid .cell.player-1{
    background-color: blue;
}

/* Library */
#library{
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    padding: 4em 2em;
    background-color: black;
}
.pattern{
    display: grid;
    transition: all 0.2s;
}
.pattern .coord{
    background-color: white;
    background-clip: padding-box;
    border: 1px solid transparent;
    transition: all 0.2s;
}
.pattern.picked-up{
    transform: scale(1.1);
}
.pattern.picked-up .coord{
    background-color: teal;
}

.pattern.hover{
    background-color: orange;
}